<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fragment</title>
</head>
<body>
 <div th:fragment="header">
 	<ul>
 		<li><a href="/">Home</a></li>
 		<li><a href="/student/viewall">Daftar Mahasiswa</a></li>
 		<li><a href="/student/add">Menambah Mahasiswa</a></li>
 	</ul>
 </div>
 <div th:fragment="footer">
 	<hr/>
 	<h4>Mata Kuliah APAP</h4>
 </div>
 <div th:fragment="headerview">
 	<ul>
 		<li><a href="/">Home</a></li>
 		<li><a href="/student/add">Menambah Mahasiswa</a></li>
 	</ul>
 </div>
 
 <div th:fragment="headerall">
 	<ul>
 		<li><a href="/">Home</a></li>
 	</ul>
 </div>
 
 <div th:fragment="headersuccess">
 	<ul>
 		<li><a href="/">Home</a></li>
 		<li><a href="/student/viewall">Daftar Mahasiswa</a></li>
 	</ul>
 </div>
</body>
</html>
